@import url("https://use.typekit.net/jup1zbg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-outline {
  -webkit-text-stroke: 1px #000;
}

.font-outline-0 {
  -webkit-text-stroke: 1px transparent;
}

.marquee-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0%;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  margin: 2rem;
}

.text-marquee {
  overflow: hidden;
  white-space: nowrap;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

[data-marqy-content] {
  display: flex;
  animation: marquee linear infinite;
}

.text-outline {
  -webkit-text-stroke: 1px #000;
}

@media screen and (min-width: 800px) {
  .js-height {
    height: 100vh;
  }
}

.sticker {
  position: absolute;
  z-index: 15;
}


.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
} */

.embla {
  overflow: hidden;
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}

.embla__container {
  display: flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  
}

.embla__slide {
  position: relative;
  padding: 0 10px;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.is-wheel-dragging {
  cursor: grabbing;
}

.js-height {
  height: 758px;
}

@media screen and (min-width: 800px) {
  .js-height {
    height: 100vh;
  }
}

/* Custom styles for stickers, etc. */
.artifact-earth {
  top: 52%;
  transform: translateY(-52%);
  right: -20%;
  width: 75%;
  background-image: url(/public/images/spinning-logo-4.png);
}

@media screen and (min-width: 800px) {
  .artifact--7117910fe1e5 {
    top: 51%;
    transform: translateY(-51%);
    right: -4%;
    width: 55%;
  }
}