@import url("https://use.typekit.net/jup1zbg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-outline {
      -webkit-text-stroke: 1px #000;
    }
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @keyframes vertical-marquee {
      0% {
        transform: translateZ(0);
      }
      100% {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}

@layer components {
  .marquee-wrapper {
    @apply flex w-full m-0 h-screen items-center overflow-visible;
  }

  [coming-soon][data-direction=left] [vmarquee-content] {
    animation-name: vertical-marquee;
}

  [vmarquee-content] {
    @apply flex-grow flex-shrink-0 basis-auto will-change-transform items-center w-full;
    animation: vertical-marquee 13s linear infinite;
    animation-play-state: running;
  }


  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

}

.text-marquee [coming-soon] {
  overflow: visible;
}

[coming-soon] {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  [coming-soon] {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
[coming-soon] {
  padding-top: 4px;
  padding-bottom: 0;
}

[coming-soon-inner] {
  display: flex;
}


[vmarquee-item] {
  flex-grow: 0;
}

.embla {
  @apply overflow-hidden w-full;
}

.embla__container {
  @apply flex-nowrap;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  @apply relative flex-1 min-w-fit pl-2;
}

.is-wheel-dragging {
  @apply cursor-grabbing;
}

.js-height {
  @apply h-[758px];
}

@media (min-width: 800px) {
  .js-height {
    @apply h-screen;
  }
}

.text-outline {
  -webkit-text-stroke: 1px whitesmoke;
}

.marquee-container {
  @apply relative w-full h-full overflow-hidden;
}

.marquee-content {
  @apply flex-nowrap will-change-transform;
  animation: marquee 15s linear infinite;
}

.sticker {
  @apply absolute z-20;
}

.header-shadows {
  color: #ffffe6;
  text-shadow: -4px 4px 0px #1a1a1a;
}
@media screen and (min-width: 800px) {
  .header-shadows {
    text-shadow: -8px 8px 0px #1a1a1a;
  }
}

/* Peace Sign Burger */

.peace-burger {
  top: 78%;
  transform: translateY(-78%);

  right: 1%;

  width: 32%;
}

/* Peace Sign Burger */
@media screen and (min-width: 400px) {
  .peace-burger {
    top: 62%;
    transform: translateY(-77%);

    right: 1%;

    width: 33%;
  }
}

/* Peace Sign Burger */
@media screen and (min-width: 800px) {
  .peace-burger {
    top: 70%;
    transform: translateY(-80%);

    right: 5%;

    width: 28%;
  }
}

/* burger button */

.burger-button {
  top: 22%;
  transform: translateY(-52%);

  right: -35%;

  width: 75%;
}

/* burger button */
@media screen and (min-width: 800px) {
  .burger-button {
    top: 20%;
    transform: translateY(-51%);

    right: -38%;

    width: 55%;
  }
}
