@import url("https://use.typekit.net/jup1zbg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #000;
  }
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  @keyframes vertical-marquee {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }
}

@layer components {
  .marquee-wrapper {
    @apply flex w-full h-screen items-center overflow-visible;
  }
  .marquee-container {
    @apply relative w-full h-full overflow-hidden;
  }
  .marquee-content {
    @apply flex-nowrap will-change-transform;
    animation: marquee 15s linear infinite;
  }
  .header-shadows {
    color: #ffffe6;
    text-shadow: -4px 4px 0px #1a1a1a;
  }
  @media (min-width: 800px) {
    .header-shadows {
      text-shadow: -8px 8px 0px #1a1a1a;
    }
  }
  .sticker {
    @apply absolute z-20;
  }
}

/* Additional custom styles */
.peace-burger, .burger-button, .who-top {
  position: absolute;
}
.who-top {
  top: 5%; transform: translateY(-5%); right: -40%; width: 80%;
}
@media (min-width: 800px) {
  .who-top {
    top: -12%; transform: translateY(-12%); right: -30%; width: 56vw;
  }
}
@media (min-width: 1200px) {
  .who-top {
    top: -22%; transform: translateY(-22%); right: -26vw; width: 740px;
  }
}
