@import url("https://use.typekit.net/jup1zbg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-outline {
      -webkit-text-stroke: 1px #000;
    }
    @keyframes marquee {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
    }
    @keyframes vertical-marquee {
      0% { transform: translateY(100%); }
      100% { transform: translateY(-100%); }
    }
  }
}

@layer components {
  .marquee-wrapper {
    @apply flex w-full m-0 h-screen items-center overflow-visible;
  }

  .vmarquee-wrapper {
    @apply flex min-w-screen m-0 h-screen items-center overflow-visible;
    background-color: var(--tw-bg-opacity) #FF5858;
  }
  
  .vmarquee-content {
    @apply flex whitespace-nowrap items-center w-full;
    animation: marquee 30s linear infinite;
  }
  
  .vmarquee-item {
    @apply flex-shrink-0 flex items-baseline mx-4;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .no-left-padding {
    @apply !pl-0;
  }
}

.embla {
  @apply overflow-hidden w-full;
}

.embla__container {
  @apply flex-nowrap;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  @apply relative flex-1 min-w-fit pl-2;
}

.is-wheel-dragging {
  @apply cursor-grabbing;
}

.js-height {
  @apply h-[758px];
}

@media (min-width: 800px) {
  .js-height {
    @apply h-screen;
  }
}

.text-outline {
  -webkit-text-stroke: 1px whitesmoke;
}

.marquee-container {
  @apply relative w-full h-full overflow-hidden;
}

.marquee-content {
  @apply flex-nowrap will-change-transform;
  animation: marquee 15s linear infinite;
}

.sticker {
  @apply absolute z-20;
}

.header-shadows {
  color: #ffffe6;
  text-shadow: -4px 4px 0px #1a1a1a;
}
@media screen and (min-width: 800px) {
  .header-shadows {
    text-shadow: -8px 8px 0px #1a1a1a;
  }
}

