@import url("https://use.typekit.net/jup1zbg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-outline {
      -webkit-text-stroke: 1px #000;
    }
    .animate-vertical-marquee {
      animation: vertical-marquee 30s linear infinite;
    }
    @keyframes vertical-marquee {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(-100%);
      }
    }
  }
}

.embla {
  @apply overflow-hidden w-full;
}

.embla__container {
  @apply flex-nowrap;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  @apply relative flex-1 min-w-fit pl-2.5;
}

.ticker-slide {
  @apply flex-[1_0_20%];
}

.is-wheel-dragging {
  @apply cursor-grabbing;
}

.js-height {
  @apply h-[758px];
}

@media (min-width: 800px) {
  .js-height {
    @apply h-screen;
  }
}

.text-outline {
  -webkit-text-stroke: 1px whitesmoke;
}

.marquee-container {
  @apply relative w-full h-full overflow-hidden;
}

.marquee-content {
  @apply flex-nowrap will-change-transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes vertical-marquee {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

.text-marquee {
  @apply overflow-hidden whitespace-nowrap;
  animation: vertical-marquee 15s linear infinite;
  @apply flex-col will-change-transform;
}

.ticker-content {
  @apply flex-col will-change-transform;
  animation: vertical-marquee 15s linear infinite;
}

.ticker-wrapper {
  @apply bg-stars h-full w-full flex overflow-hidden relative;
}

.sticker {
  @apply absolute z-20;
}

.artifact--7117910fe1e5 {
  @apply top-[52%] translate-y-[-52%] right-[-20%] w-[75%];
}

@media (min-width: 800px) {
  .artifact--7117910fe1e5 {
    @apply top-[51%] translate-y-[-51%] right-[-4%] w-[55%];
  }
}
