

.bg-\[url\(\'\/assets\/classifieds_divider\.svg\'\)\]
{background-image:url(/assets/classifieds_divider.svg)}
.bg-\[url\(\'\/assets\/free-pizza-bg-texture\.png\'\)\]
{background-image:url(/assets/free-pizza-bg-texture.png)}
.bg-\[url\(\'\/assets\/issue-divider\.svg\'\)\]
{background-image:url(/assets/issue-divider.svg)}
.bg-\[url\(\'\/assets\/signup-divider-main\.svg\'\)\]
{background-image:url(/assets/signup-divider-main.svg)}
.bg-\[length\:30vw\]{background-size:30vw}
.bg-contain{background-size:contain}
.bg-cover{background-size:cover}
.bg-clip-content{background-clip:content-box}
.bg-\[1rem_2rem\]{background-position:1rem 2rem}.bg-right-top{background-position:100% 0}
.bg-no-repeat{background-repeat:no-repeat}
.bg-repeat-x{background-repeat:repeat-x}
.object-contain{-o-object-fit:contain;object-fit:contain}
.object-cover{-o-object-fit:cover;object-fit:cover}
.object-fill{-o-object-fit:fill;object-fit:fill}
.object-center{-o-object-position:center;object-position:center}
.object-top{-o-object-position:top;object-position:top}
.p-0{padding:0}.p-1{padding:5px}.p-1\.5{padding:.375rem}
.p-10{padding:50px}
.p-14{padding:70px}
.p-15{padding:75px}
.p-2{padding:10px}
.p-3{padding:15px}
.p-4{padding:20px}
.p-5{padding:25px}
.p-6{padding:30px}
.p-8{padding:40px}
.p-\[10px\]{padding:10px}
.p-\[10rem\]{padding:10rem}
.p-\[15rem\]{padding:15rem}











